.card {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 600px;
    width: 90%;
    padding: 50px;
    background: linear-gradient(90deg, rgb(43, 245, 152), rgb(7, 174, 234));
    border-radius: 20px;

    &__content {
        text-align: center;
    }

    &__value {
        font-size: 6rem;
        font-weight: 700;
    }

    &__desc {
        margin-top: 20px;
        font-size: 4rem;
        font-weight: 600;
        color: #fff;
    }
}

.btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 8px 24px;
    background-color: transparent;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
    border: 2px solid #000;
    outline: none;
}
