.container {
    width: 100%;
    height: calc(100vh - 50px);
    background: linear-gradient(45deg, #fc8ec5, #ffa1d8, #ffe0c3);
    display: flex;
    justify-content: center;
}

.heading {
    margin-top: 100px;
    font-size: 6rem;
    font-weight: 700;
}
